<div id="<%= dom_id manager %>">
  <p>
    <strong>Name:</strong>
    <%= manager.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= manager.email %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= manager.nationality %>
  </p>

  <p>
    <strong>Workteam:</strong>
    <%= manager.workteam %>
  </p>

</div>
