<p style="color: green"><%= notice %></p>

<%= render @manager %>

<div>
  <%= link_to "Edit this manager", edit_manager_path(@manager) %> |
  <%= link_to "Back to managers", managers_path %>

  <%= button_to "Destroy this manager", @manager, method: :delete %>
</div>
