<div id="<%= dom_id player %>">
  <p>
    <strong>Name:</strong>
    <%= player.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= player.position %>
  </p>

  <p>
    <strong>Last competition:</strong>
    <%= player.last_competition %>
  </p>

  <p>
    <strong>Contract:</strong>
    <%= player.contract %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= player.manager_id %>
  </p>

  <p>
    <strong>Transfermarkt:</strong>
    <%= player.transfermarkt_id %>
  </p>

</div>
